services:
  mongo:
    image: mongo:7
    restart: always
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    restart: always
    volumes:
      - redis_data:/data

  qdrant:
    image: qdrant/qdrant:latest
    restart: always
    volumes:
      - qdrant_data:/qdrant/storage

  api:
    build: ./backEnd
    restart: always
    env_file:
      - ./backEnd/.env
    volumes:
      - ./storage/uploads:/app/storage/uploads
      - ./tmp_uploads:/app/tmp_uploads
    ports:
      - "127.0.0.1:5000:5000"   # local only
    depends_on:
      - mongo
      - redis
      - qdrant

  worker:
    build: ./backEnd
    restart: always
    env_file:
      - ./backEnd/.env
    command: ["node", "src/worker.js"]
    volumes:
      - ./storage/uploads:/app/storage/uploads
      - ./tmp_uploads:/app/tmp_uploads
    depends_on:
      - mongo
      - redis
      - qdrant

volumes:
  mongo_data:
  redis_data:
  qdrant_data: